#grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;

}

#grid img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: auto;
    box-sizing: border-box;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background-color: rgba(194, 249, 255, 0.2);
    margin: 20px 10px;
}

#grid .one {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#grid .two {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#grid .three {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.container {
    width: auto;
    box-sizing: border-box;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background-color: rgba(194, 249, 255, 0.2);
    margin: 20px 10px;
}

@media (max-width: 900px) {
    #grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(auto,1fr);
    
    }
    
    #grid img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 100%;
        height: auto;
        margin: 5px 0;
        box-sizing: border-box;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        background-color: rgba(194, 249, 255, 0.2);
    }
    
    #grid .one {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    #grid .two {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    #grid .three {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
}